<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Metadata --> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    
    <!-- Enable responsiveness on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Title -->
    {% if page %} 
      {% set title = page.title %}
      {% set permalink = page.permalink %}
    {% elif section %}
      {% set title = section.title %}
      {% set permalink = section.permalink %}
    {% else %} 
      {% set title = config.title %}
    {% endif %}

    <title>{% block title %} {{ title }} {% endblock title %}</title>

    
    <!-- Open Graph Tags -->
    <meta
      property="og:url"
      content="{% if page %}{{ page.permalink }}{% else %}{{ config.base_url }}{% endif %}"
    />
    <meta
      property="og:type"
      content="{% if page %}article{% else %}website{% endif %}"
    />
    <meta property="og:title" content="{{ title }}" />

    <!-- Additional Twitter Meta Tags -->
    <meta
      property="twitter:url"
      content="{% if page %}{{ page.permalink }}{% else %}{{ config.base_url }}{% endif %}"
    />
    <meta name="twitter:title" content="{{ title }}" />

    <!-- Styles -->
    <link rel="stylesheet" href="{{ get_url(path='css/reset.css') }}"/>
    <link rel="stylesheet" href="{{ get_url(path='css/adapted-monospace-web.css') }}"/>
    <link rel="stylesheet" href="{{ get_url(path='css/custom.css') }}"/>

    <!-- Feather Icons --> 
    <script src="https://unpkg.com/feather-icons"></script>
  </head>

  <header class="section">
    <nav class="container" id="global-navbar">
      <a href="{{ get_url(path='@/_index.md') }}"> Home </a>
      <a href="{{ get_url(path='@/projects/_index.md')}}"> Projects </a>
      <a href="{{ get_url(path='@/blog/_index.md')}}"> Blog </a>
      {# <a href="{{ get_url(path='@/about.md') }}"> About Me </a> #}
    </nav>
  </header>

  <body>
    <section class="section">
      <div class="container">
        {% if page %}
          {% set ancestors = page.ancestors %}
        {% elif section %}
          {% set ancestors = section.ancestors %}
        {% else %}
          {% set ancestors = [] %}
        {% endif %}

        <div style="padding-bottom: 1ch;">
          https://
          {% for ancestor in ancestors %}
            {% set s = get_section(path=ancestor, metadata_only=true) %}
            > <a href="{{ s.permalink }}"> {{ s.title }}</a>
          {% endfor %}

          {% if permalink %}
            > <a href="{{ permalink }}"> {{ title }}</a>
          {% endif %}
        </div>
        <table class="header">
          <tr class="width-100">
            <td style="text-align: left;" colspan="2">
              <h1 class="title">{% block header_title %} {{title}} {% endblock header_title %}</h1>
              {% if section and section.extra and section.extra.subtitle %}
                {% set subtitle = section.extra.subtitle %}
              {% endif %}
              
              {% if subtitle %}
                <span class="subtitle"> {{ subtitle }} </span>
              {% endif %}
            </td>
          </tr>
          {% if page and page.date %}
            <tr> 
              <th scope="row"> Posted </th> 
              <td> {{ page.date | date(format = "%e %B %Y %H:%M", timezone = "America/New_York")}} American Eastern Time</td>
            </tr> 
          {% endif %}
          {% if page and page.updated %}
            <tr> 
              <th scope="row"> Last Updated </th> 
              <td> {{ page.updated | date(format = "%e %B %Y %H:%M", timezone = "America/New_York")}} American Eastern Time</td>
            </tr> 
          {% endif %}
          {% if page %}
            <tr> 
              <th scope="row"> Word Count </th> 
              <td> {{ page.word_count }} </td>
            </tr> 
            <tr> 
              <th scope="row"> Reading Time </th> 
              <td> {{ page.reading_time }} {% if page.reading_time == 1 %} minute {% else %} minutes {% endif %} </td>
            </tr>
            {% if page.extra.links %}
              <tr> 
                <th scope="row"> Links </th>
                <td>
                  {% for name, link in page.extra.links %}
                    <a href="{{ link.url }}"> 
                      {% if link.icon %} <i data-feather="{{ link.icon }}"></i> {% endif %} 
                      {{ name }} 
                    </a>
                    &nbsp;
                  {% endfor %}
                </td>
              </tr>
              {# {% for name, link in page.extra.links %} 
                <tr> 
                  <th scope="row"> {{ name }} </th> 
                  <td> 
                    <a href="{{ link.url }}"> 
                      {% if link.icon %} <i data-feather="{{ link.icon }}"></i> {% endif %} 
                      {{ name }} 
                    </a> 
                  </td>
                </tr>
              {% endfor %} #}
            {% endif %}
          {% endif %}
        </table>

        {% block content %} {% endblock %}
      </div>
    </section>

    <!-- Replace feather icons with svgs -->
    <script>
      feather.replace({width: '1em', height: '1em', 'stroke-width': "3"});
    </script>
  </body>
</html>
